.DS_Store
.env
vlog.txt

*.pyc
*.whl
*.g

__pycache__/
private/
.venv/
venv/
FCIDUMP/*
config/*
!config/default.yaml
circuits/*

# Rust build artifacts
py-spiral-quantum/target/
py-spiral-quantum/Cargo.lock

# Spiral build artifacts
spiral-software/build/
spiral-software/bin/